# standard
dataclasses

# Math/Plotting
numpy
matplotlib

# ML
torch

# linting and formatting
flake8
black
isort

# static type checking
mypy

# testing
pytest
pytest-cov

# Jupyter Notebooks
ipykernel
ipython

# Documentation
sphinx
sphinx_rtd_theme
sphinx-autobuild
sphinxcontrib-bibtex
